# Binaries
tasia
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# goreleaser output
dist/

# IDE
.idea/
.vscode/

# Tasia output (example; user may commit or ignore)
**/.tasia/

# env
.env
.env.*
!.env.example
